body {
  padding-top: 20px;

}

.lower-cap {
    margin-top: 20px;
    min-height:200px;
    background-color: #0C8312;
    color: #fff ;
    font-size: 25px;
    width:100%;
    padding: 0 0 0 0;
}
#main-content {
    min-height: 600px;
    margin-left:0;
    margin-right:0;
    parring-left:0;
}
.navbar {
  margin-bottom: 20px;
}

.intermediate-header {
    color: #0C8312;
    text-align: center;
    font-weight: 700;
    font-family: Times;
}
.align-center {
clear: both;
display: block;
margin-left:auto;
margin-right: auto;
}

.why {
    font-size:20px;
    color:#555;
}

.button-big:hover  {
    font-size:25px;
    width:270px;
    margin-bottom: 20px;
    text-transform:uppercase;
    border: 1px solid #ccc;
    background-color: #0C8312;
    color:#fff;
}
.button-big{
    font-size:25px;
    width:270px;
    margin-bottom: 20px;
    text-transform:uppercase;
    border: 1px solid rgb(119, 188, 82);
    background-color: #fff;
    color:#0C8312;
    text-weight:900;
}

.menu-bar {
    font-size: 14px;
    color: #333;
}
.food-header {
    border-bottom: solid 1px rgb(119, 188, 82)
}

.set-info .btn-default {
    border-color: rgb(140, 198, 63);
}
.set-info .btn-default:hover {
    background-color: rgb(140, 198, 63);
    color: white;
}
.basket {
    background: url(../images/basket.png) no-repeat 6px center;
    padding-left:40px;
    background-color: #fff;
}
.set-info .basket: hover{
    background:  rgb(140, 198, 63) url(../images/basket.png) no-repeat 6px center;
    padding-left:40px;
}

.price span{
    font-size:23px;
}
.price{
    color: rgb(140, 198, 63);
    float:right;
    font-size: 18px;
}

.choose-bar a{
    font-size:18px;
    color: #333;
    margin-left:40px;
}
.detailed-description p {
    font-size:14px;
}

.detailed-description span {
    color:rgb(140, 198, 63);
    font-size:25px;
}

.detailed-description .price-list{
    font-size:20px;
    color:#333;
}
.title {
    color: rgb(140, 198, 63);
    font-family: Helvetica;
    line-height: 40px;
    font-size:30px;
    display: block;
}

.decor {
    padding-left: 70px;
    panndin-right: 70px;
    width: 625px;
}

.time-container {
    margin-top:40px;
    margin-bottom: 40px;
    background-color: rgb(140, 198, 63);
}
.time-info {
    background: url(/images/clock.png) no-repeat 20px center;
    color: #fff;
    padding-left:70px;
    padding-right:10px;
    font-size:12px;
    padding-top: 23px;
    padding-bottom: 23px;
}
.compressed {
    padding-top:25px;
    align: center;
}


.compressed p {
    color: rgb(85, 85, 85);
    font-size: 16px;
    line-height: 27.2px;
    margin-bottom:5px;
}
.compressed a {
    color: rgb(92, 84, 84);
}


.compressed h5 {
    color: rgb(83, 182, 40);
    font-weight: 600;
}
.compressed h4 {
    color: rgb(92, 84, 84);
    font-weight: 600;
}
.compressed h3 {
    color: rgb(92, 84, 84);
    font-weight: 600;

}
.compressed h2 {
    color: rgb(83, 182, 40);
    text-transform: uppercase;
    font-family: "PT Sans", Times, serif;
    font-weight: 600;
    margin-bottom: 60px;
}

.price-table{
    border-top: 1px solid #D0D0D0;
    border-bottom: 1px solid #D0D0D0;
    padding-top: 10px;
    text-family: Arial;
    margin-bottom:30px;
}
.data-input {
    border: 1px solid #ccc;
    vertical-align: middle;
    padding: 8px 8px;
    margin-bottom: 20px;
    height: 52px;
    width: 100%;
    font-size: 18px;
}

.text_area {
    border: 1px solid #ccc;
    vertical-align: middle;
    width: 100%;
    padding: 8px 8px;
    font-size: 18px;
}
.compressed .data-input{
    margin-left: -20px;
}
.compressed .text_area{
    margin-left: -20px;
}

.contacts-button:hover {
    font-weight:600;
    background-color: #444;
    color: white;
}

.contacts-button {
    font-weight:600;
    background-color:rgb(140, 198, 63);
    color: white;
    font-size:17px;

}


.collapse-menu-btn {
    font-size:18px;
    width:150px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius:7px;;
    background-color: rgb(140, 198, 63);
    color:#fff;
}
.diet {
    width: 60%;
    margin-left:65px;
}
.diet table {
    width: 100%;
}
.product {
    width: 60%;
    display: inline-table;

}
.calories{
    width:10%;
    float:right
    display: inline-table;
}
.pfc {
    width:30%;
    text-family:Arial;
    font-size:17px;
    text-transform: uppercase;
    display: inline-table;

}
.diet tr {
    border-bottom: 1px dashed #009245;
}
.diet p {
    margin: 5px 0px 5px 0px;
}
.day-number {
    color:rgb(140, 198, 63);
    text-decoration: underline;
}
.menu-header {
    margin-bottom:25px;
    margin-left: 70px;
    color:rgb(140, 198, 63);
    text-transform: uppercase;
    font-size:25px;
    font-family: Bodoni;
}
