{% extends 'compressed_content.html' %}

{% block content %}
<h2>контакты</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 -col-xs-12">
            <strong><h4>Мы доставляем наборы по Москве и ближайшему Подмосковью</h4></strong>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h5>Хотите сделать заказ или задать вопрос?</h5>
                <p>Напишите нам в WhatsApp или позвоните +79250419362</p>
                <p>Мы на связи каждый день с 10 до 23.</p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h5>Хотите предложить сотрудничество?</h5>
                <p>Напишите сюда <span class="llink">smm@complexfood.ru</span></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h5>Вакансии</h5>
                <p><a href="">some links</a></p>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h5>Мы в социальных сетях</h5>
                <p>
                    <!--noindex--><a rel="nofollow" href="http://vk.com">ВКонтакте</a><!--/noindex-->
                    <!--noindex--><a rel="nofollow" href="http://instagram.com">Instagram</a><!--/noindex-->
                </p>
            </div>
        </div>

    </div>

</div>

{% endblock content %}
