<div class="diet">
    <h4 class="day-number"><span>{{ day_ration.day }}</span> день</h4>
    <table>
        <tr>
            <td class="pfc"><p>белки</p></td>
            <td class="product"><p>{{ day_ration.protein }}</p></td>
            <td class="calories"><p>{{ day_ration.pcal }}</p></td>
        </tr>

        <tr>
            <td class="pfc"><p>Углеводы</p></td>
            <td class="product"><p>{{ day_ration.carbohydrates }}.</p></td>
            <td class="calories"><p>{{ day_ration.ccal }}</p></td>
        </tr>

        <tr>
            <td class="pfc"><p>Витамины</p></td>
            <td class="product"><p>{{ day_ration.greens }}</p></td>
            <td class="calories"><p>{{ day_ration.gcal }}</p></td>
        </tr>

        <tr>
            <td class="pfc"><p>Прочее</p></td>
            <td class="product"><p>{{ day_ration.other }}</p></td>
            <td class="calories"><p>{{ day_ration.ocal }}</p></td>
        </tr>
    </table>
</div>