{% extends 'base.html' %}

<!-- MAIN CONTENT -->
{% block main_content %}
<div class="container">
    <div class="row">
        <div class="col-md-7 col-xs-12 col-sm-12">
            <div clas="container">
                <div class="row ">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <p class="title text-uppercase text-center">Оформление заказа</p>
                        <div class="time-container">
                            <p class="time-info">Оформление заказа займет менее минуты</p>
                        </div>
                    </div>
                </div>
                <div class="row pds hidden-xs">
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        <h5>Программа</h5>
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4">
                        <h5>Длительность</h5>
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4" align="right">
                        <h5>Стоимость</h5>
                    </div>
                </div>
                <div class="row pds price-table">
                    <strong>
                        <div class="col-md-4 col-xs-5 col-sm-6">
                            <p>Стандарт - 1500 ккал</p>
                        </div>
                        <div class="col-md-4 col-xs-3 col-sm-3">
                            <p>1 день</p>
                        </div>
                        <div class="col-md-4 col-xs-4 col-sm-3" align="right">
                            <p>800 руб.</з>
                        </div>
                    </strong>
                </div>
                <!-- ФОРМА ВВОДА -->
                <form action="{% url 'checkout' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="row">
                        <div class="col-md-3 col-xs-12">
                            <p style="padding-top:15px">{{ field.label }}*</p>
                        </div>
                        <div class="col-md-9 col-xs-12">
                            {{ field }}
                        </div>
                    </div>
                    {% endfor %}
                    <hr>
                    <button type="submit" class="btn button-big button-decor align-center">
                        Оформить заказ
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
