{% extends 'base.html' %}
{% block main_content %}

<div class="container compressed">
    <h2>вопрос-ответ</h2>
    <ul>
        <li>
            <h3>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree1">
                    Как сделать заказ?
                    <span style="padding-top:3px;" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h3>
            <div id="collapseThree1" class="collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </li>
        <li>
            <h3>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree2">
                    В какие дни и часы привозят еду?
                    <span style="padding-top:3px;" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h3>
            <div id="collapseThree2" class="collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </li>
        <li>
            <h3>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree3">
                    Как хранить питание?
                    <span style="padding-top:3px;" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h3>
            <div id="collapseThree3" class="collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </li>
        <li>
            <h3>
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree4">
                    Каким образомы вы подбираете продукты?
                    <span style="padding-top:3px;" class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </h3>
            <div id="collapseThree3" class="collapse">
                <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                    wolf
                    moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                    eiusmod.
                    Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                    shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                    ea
                    proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw
                    denim
                    aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>

        </li>
    </ul>
</div>


{% endblock main_content %}
