{% extends "base.html" %}
<!-- MAIN CONTENT -->

{% block main_content %}
    <img src="images/placeholder1.jpg" width="100%">
    <h2 class="intermediate-header">Как мы создаем набор</h2>
    <img src="images/placeholder1.jpg" class="align-center" width="80%">
    <h2 class="intermediate-header">Вам остается только приготовить</h2>
    <img src="images/placeholder1.jpg" class="align-center" width="80%" height="300px">

    <div style="background-color:#dee2e5; margin-top:20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="intermediate-header" style="text-transform:uppercase; font-size">
                        Зачем вам complex food
                    </h3>
                </div>
            </div>
            <div class="row why">
                <div class="col-md-2"></div>
                <div class="col-md-4">

                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <strong class="why">Вы экономите время.</strong>
                    Теперь не надо бродить по магазинам.
                    </p>

                </div>
                <div class="col-md-4">

                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <strong class="why">Только свежие и качественные продукты.</strong>
                    Мы выбираем лучих поизводителей.
                    </p>

                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row why">
                <div class="col-md-2"></div>
                <div class="col-md-4">

                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <strong class="why">Вам намного легче соблюдать режим питания.</strong>
                    Мы распланировали каждый прием пищи.
                    </p>

                </div>
                <div class="col-md-4">

  					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <strong class="why">Вы питаетесь правильно.</strong>
                    Рацион включает все необходимые элементы.
                    </p>

                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default align-center why button-big">
                        Узнать больше
                    </button>
                </div>
            </div>
        </div>

    </div>
{% endblock main_content %}
