{% extends 'base.html' %}
{% block main_content %}
<div class="learn-more">

    <div class="gray-background">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-1 hidden-xs"></div>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <h1>о компании</h1>
                    <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta am aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitatioatis, unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta am aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    </p>
                    <p>
                        commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam
                        nihil molestiae conatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta am aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitatiosequatur, vel illlitia animi, id est laborum et dolorum fuga.
                    </p>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1 hidden-xs"></div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h1>Почему именно мы?</h1>


                <div class="container" style="width:100%">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <h4>Some nice header!</h4>
                                        <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium,
                                            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                                            architecto beatae vitae
                                            dicta am aliquam quaerat voluptatem. Ut enim ad minima
                                            veniam, quis nostrum exercitationem ullam corporis suscipit</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <h4>Some nice header!</h4>
                                        <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium,
                                            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                                            architecto beatae vitae
                                            dicta am aliquam quaerat voluptatem. Ut enim ad minima
                                            veniam, quis nostrum exercitationem ullam corporis suscipit</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <h4>Как мы придумали это</h4>
                                        <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium,
                                            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                                            architecto beatae vitae
                                            dicta am aliquam quaerat voluptatem. Ut enim ad minima
                                            veniam, quis nostrum exercitationem ullam corporis suscipit</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-9 col-sm-10 col-xs-12">
                                        <h4>Как мы придумали это</h4>
                                        <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium,
                                            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                                            architecto beatae vitae
                                            dicta am aliquam quaerat voluptatem. Ut enim ad minima
                                            veniam, quis nostrum exercitationem ullam corporis suscipit</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-10 col-xs-10">
                                        <h4>Как мы придумали это</h4>
                                        <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium,
                                            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                                            architecto beatae vitae
                                            dicta am aliquam quaerat voluptatem. Ut enim ad minima
                                            veniam, quis nostrum exercitationem ullam corporis suscipit</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-10 col-xs-10">
                                        <h4>Как мы придумали это</h4>
                                        <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem
                                            accusantium
                                            doloremque laudantium,
                                            totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi
                                            architecto beatae vitae
                                            dicta am aliquam quaerat voluptatem. Ut enim ad minima
                                            veniam, quis nostrum exercitationem ullam corporis suscipit</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="gray-background">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-1 hidden-xs"></div>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <h1 class="hidden-xs">СomplexFood - это выгодно!</h1>
                    <h1 class="visible-xs text-center">Выгодно!</h1>
                    <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta am aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitatioatis, unde omnis iste natus error sit voluptatem accusantium
                        doloremque laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta am aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    </p>
                    <p>
                        commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam
                        nihil molestiae conatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta am aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitatiosequatur, vel illlitia animi, id est laborum et dolorum fuga.
                    </p>

                </div>
            </div>
        </div>
    </div>


    <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-1 hidden-xs"></div>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <h1 class="hidden-xs">SOMETHING ELSE</h1>
                    <h1 class="visible-xs text-center">Выгодно!</h1>
                    <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta am m. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                    </p>
                    <p>
                        commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam
                        nihil molestiae conatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae
                        dicta am aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitatiosequatur, vel illlitia animi, id est laborum et dolorum fuga.
                    </p>

                </div>
            </div>
        </div>

</div>
{% endblock main_content %}
