{% extends 'base.html' %}
{% block main_content %}
<div class="learn-more">

    <div class="gray-background">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-1 hidden-xs"></div>
                <div class="col-md-10 col-sm-9 col-xs-12">
                    <h1>Что входит в набор?</h1>
                    <div class="container" style="width:100%;">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="/images/set.jpg" width="100%">
                                <p style="font-family:Palatino; margin-top:15px;"> *на фото лишь пример некоторых продуктов из набора</p>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        <strong>В набор входят продукты на 5 или 7 дней.</strong></li>
                                    <li>
                                        <img class="image-li" alt="icon" src="/images/green_li.png">Каждый продукт точно
                                        взвешен и отмерен.
                                    </li>
                                    <li><img class="image-li" alt="icon" src="/images/green_li.png">Все продукты
                                        аккуратно упакованы.
                                    </li>
                                    <li><img class="image-li" alt="icon" src="/images/green_li.png">К набору прилагаются
                                        интересные рецепты.
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-1 col-sm-1 hidden-xs"></div>
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h1>complexfood - это выгодно!</h1>


                <div class="container" style="width:100%">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <h4>Вы экономите время</h4>
                                        <p> Никаких больше походов по магазинам в поисках правильных продуктов.
                                            Вам не нужно каждый раз рассчитывать свой рацион на неделю.
                                            Мы сделали это за вас.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <h4>Вы соблюдаете режим питания</h4>
                                        <p> Теперь вы точно будете знать что вам нужно скушать и в каком количестве.
                                            Больше не будет случайных перекусов. А как известно, соблюдение режима
                                            питания - 80% успеха в построении здорового спортивного тела.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-9 col-sm-10 col-xs-12">
                                        <h4>Баланс рациона.</h4>
                                        <p> Наши наборы питания, при любой калорийности, содержат полный набор всех
                                            нутриентов, необходимых для здорового функционирования всех систем
                                            организма.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="container" style="width:100%; margin-top:30px">
                                <div class="row">
                                    <div class="col-md-3 col-sm-2 hidden-xs">
                                        <img src="/images/green_round.png" width="80" class="img-circle">
                                    </div>
                                    <div class="col-md-8 col-sm-10 col-xs-12">
                                        <h4>Вы экономите деньги</h4>
                                        <p> Наши наборы составлены из простых недорогих продуктов. Кроме того, не нужно
                                            тратить деньги на всю упаковку продукта, если вам необходима лишь
                                            его часть. Мы отмерили ровно столько сколько нужно.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="gray-background">
        <div class="container">
            <div class="row">
                <div class="col-md-1 col-sm-1 hidden-xs"></div>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <h1 class="hidden-xs">SOMETHING ELSE</h1>
                    <h1 class="visible-xs text-center">ELSE</h1>
                    <p> Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae
                        vitae
                        dicta am m. Ut enim ad minima
                        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
                        ea
                    </p>
                    <p>
                        commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse,
                        quam
                        nihil molestiae conatis, unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium,
                        totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae
                        vitae
                        dicta am aliquam quaerat voluptatem. Ut enim ad minima
                        veniam, quis nostrum exercitatiosequatur, vel illlitia animi, id est laborum et dolorum
                        fuga.
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}
