{% extends "base.html" %}
<!-- MAIN CONTENT -->

<div class="container" id="main-content">
    <ol class="breadcrumb choose-bar">
        <li><a href="#">Стандарт</a></li>
        <li><a href="#">Премиум</a></li>
    </ol>
    <!-- SET INFO -->

    <div class="set-info">
        <div class="jumbotron">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="food-header">Набор питания Стандарт - 1500 ккал</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/200x200" width="200px" height="200px">
                    </div>
                    <div class="col-md-4">
                        <div class container>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>В среднем в день:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    X <br>белков
                                </div>
                                <div class="col-md-3">
                                    Y <br>жиров
                                </div>
                                <div class="col-md-3">
                                    Z <br>углев
                                </div>
                                <div class="col-md-3">
                                    1500 <br>ккал
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6" style="border-right:solid 2px #39B54A;">
                                    Для <strong>поддержания мышечной массы у девушек</strong>
                                </div>

                                <div class="col-md-6">
                                    Для этапа <strong>сушки у мужчин</strong>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h5 class="text-uppercase text-center"><strong>описание программы:</strong></h5>
                        <p style="font-size:14px;"> Минимальная калорийность с балансом нутриентов
                            в сторону увеличения белка и ограничением углеводов. Подходит для
                            этапа сушки у мужчин и поддержания/набора мышечной массы для девушек. </p>
                        <a class="btn btn-default" href="#" role="button">Подробнее</a>
                        <a class="btn btn-default basket" href="#" role="button">Купить</a>
                        <div class="price">
                            От <span>450</span> руб в день.
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="set-info">
        <div class="jumbotron">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="food-header">Набор питания Стандарт - 2000 ккал</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/200x200" width="200px" height="200px">
                    </div>
                    <div class="col-md-4">
                        <div class container>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>В среднем в день:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    X <br>белков
                                </div>
                                <div class="col-md-3">
                                    Y <br>жиров
                                </div>
                                <div class="col-md-3">
                                    Z <br>углев
                                </div>
                                <div class="col-md-3">
                                    1500 <br>ккал
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6" style="border-right:solid 2px #39B54A;">
                                    Для <strong>поддержания мышечной массы у девушек</strong>
                                </div>

                                <div class="col-md-6">
                                    Для этапа <strong>сушки у мужчин</strong>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h5 class="text-uppercase text-center"><strong>описание программы:</strong></h5>
                        <p style="font-size:14px;"> Минимальная калорийность с балансом нутриентов
                            в сторону увеличения белка и ограничением углеводов. Подходит для
                            этапа сушки у мужчин и поддержания/набора мышечной массы для девушек. </p>
                        <a class="btn btn-default" href="#" role="button">Подробнее</a>
                        <a class="btn btn-default basket" href="#" role="button">Купить</a>
                        <div class="price">
                            От <span>450</span> руб в день.
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="set-info">
        <div class="jumbotron">

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="food-header">Набор питания Стандарт - 2500 ккал</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img src="http://placehold.it/200x200" width="200px" height="200px">
                    </div>
                    <div class="col-md-4">
                        <div class container>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>В среднем в день:</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    X <br>белков
                                </div>
                                <div class="col-md-3">
                                    Y <br>жиров
                                </div>
                                <div class="col-md-3">
                                    Z <br>углев
                                </div>
                                <div class="col-md-3">
                                    1500 <br>ккал
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6" style="border-right:solid 2px #39B54A;">
                                    Для <strong>поддержания мышечной массы у девушек</strong>
                                </div>

                                <div class="col-md-6">
                                    Для этапа <strong>сушки у мужчин</strong>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <h5 class="text-uppercase text-center"><strong>описание программы:</strong></h5>
                        <p style="font-size:14px;"> Минимальная калорийность с балансом нутриентов
                            в сторону увеличения белка и ограничением углеводов. Подходит для
                            этапа сушки у мужчин и поддержания/набора мышечной массы для девушек. </p>
                        <a class="btn btn-default" href="#" role="button">Подробнее</a>
                        <a class="btn btn-default basket" href="#" role="button">Купить</a>
                        <div class="price">
                            От <span>450</span> руб в день.
                        </div>

                    </div>
                </div>

            </div>

        </div>
    </div>

</div>


