{% extends 'base.html' %}
{% block main_content %}
{% if result %}
<h3 class="text-center">Ваша суточная каллорийность рациона {{result}} ккал. </h3>
{% endif %}
<form action="{% url 'pfc' %}" method="post" style="...">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <p>{{ field.label }}</p>
            <p>{{ field.errors }}</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-xs-12">
            {{ field }}
        </div>
    </div>
    {% endfor %}
    <hr color="red" size="10">
    <button type="submit" class="btn contacts-button">
        Рассчитать
    </button>

</form>



{% endblock main_content %}
