{% extends 'base.html' %}
{% block main_content %}
{% if result %}
<h3 class="text-center">Необходиая вам суточная калорийность - {{result}} ккал. </h3>
{% else %}
<h3> Рассчитайте вашу суточную калорийность </h3>
<hr>
<form action="{% url 'pfc' %}" method="post" style="...">
    {% csrf_token %}
    {% for field in form %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <p>{{ field.label }}</p>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2 col-xs-12">
            {{ field }}
        </div>
        <div class="col-md-8 col-sm-12 col-xs-12">
            {{ field.errors }}
        </div>
    </div>
    {% endfor %}
    <hr>
    <button type="submit" class="btn contacts-button">
        Рассчитать
    </button>

</form>
{% endif %}


{% endblock main_content %}
