{% extends "base.html" %}
<!-- MAIN CONTENT -->
{% block main_content %}


<!-- SET INFO -->
<div class="set-info container">

    <div class="container">
        {% include 'set_template.html' with is_info=True %}

        <div class="row">
            <div class="container detailed-description">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Программа включает в себя:</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">

                        <p>
                            - Рецепты по приготовлению блюд.
                        </p>
                        <p> - {{ set.third_description}} </p>

                        <p><img src="/images/info-25.png" style="margin-right:15px;" width="35px">
                            Бесплатная доставка осуществляется
                            по воскресеньям c 10.00 до 00.00
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span>Цены</span>
                    </div>
                </div>
                <div class="row">
                    <div class="container price-list">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                Пробный день
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                {{ set.price_1 }} рублей
                            </div>
                            <div class="col-md-2 col-sm-2 col-sm-12">
                                <a class="btn btn-default basket" href="{% url 'checkout' %}{{set.id}}1" role="button">Заказать</a>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                5 дней
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                {{ set.price_5 }} рублей
                            </div>
                            <div class="col-md-7 col-sm-2 col-sm-12">
                                <a class="btn btn-default basket" href="{% url 'checkout' %}{{set.id}}5" role="button">Заказать</a>
                            </div>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                7 дней
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                {{ set.price_7 }} рублей
                            </div>
                            <div class="col-md-7 col-sm-2 col-sm-12">
                                <a class="btn btn-default basket" href="{% url 'checkout' %}{{set.id}}7" role="button">Заказать</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <button type="button" class="collapse-menu-btn" data-toggle="collapse" data-target="#ration">
        Рацион  <span style="padding-top:3px;" class="glyphicon glyphicon-chevron-down"></span>
    </button>

    <div id="ration" class="collapse">
            {% for day_ration in ration %}
            {% include "day_ration.html" %}
            {% endfor %}
    </div>
</div>

{% endblock main_content %}
