{% extends "base.html" %}
<!-- MAIN CONTENT -->
{% block main_content %}

<div class="container">

    <!-- SET INFO -->

    <div class="set-info">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="food-header">Набор питания Стандарт - 1500 ккал</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="http://placehold.it/200x200" width="200px" height="200px">
                </div>
                <div class="col-md-4">
                    <div class container>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>В среднем в день:</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                X <br>белков
                            </div>
                            <div class="col-md-3">
                                Y <br>жиров
                            </div>
                            <div class="col-md-3">
                                Z <br>углев
                            </div>
                            <div class="col-md-3">
                                1500 <br>ккал
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-6" style="border-right:solid 2px #39B54A;">
                                Для <strong>поддержания мышечной массы у девушек</strong>
                            </div>

                            <div class="col-md-6">
                                Для этапа <strong>сушки у мужчин</strong>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h5 class="text-uppercase text-center"><strong>описание программы:</strong></h5>
                    <p style="font-size:14px;"> Минимальная калорийность с балансом нутриентов
                        в сторону увеличения белка и ограничением углеводов. Подходит для
                        этапа сушки у мужчин и поддержания/набора мышечной массы для девушек.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="container detailed-description">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Программа включает в себя:</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <p> - Разнообразный рацион из более 150-ти блюд
                                с акцентом на диетическое мясо птицы, белой рыбы,
                                морепродуктов и постное мясо.
                            </p>
                            <p>
                                - Сумки привязываются персонально к клиенту и оставляются
                                - ему по окончанию действия контракта.
                            </p>
                            <p>
                                - Доставку курьером до двери каждый второй день.
                            </p>
                            <p><img src="../info-25.png" style="margin-right:15px;" width="35px">
                                Бесплатная доставка осуществляется
                                по воскресеньям c 10.00 до 00.00
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Цены</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container price-list">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    Пробный день
                                </div>
                                <div class="col-md-2">
                                    800 рублей
                                </div>
                                <div class="col-md-7">
                                    <a class="btn btn-default" href="#" role="button">Заказать</a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    5 дней
                                </div>
                                <div class="col-md-2">
                                    2250 рублей
                                </div>
                                <div class="col-md-7">
                                    <a class="btn btn-default" href="#" role="button">Заказать</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <button type="button" class="collapse-menu-btn" data-toggle="collapse" data-target="#demo">
            Рацион
            <span class="glyphicon glyphicon-chevron-down"></span>
        </button>

        <div id="demo" class="collapse">
            <div class="container diet">
                <h4 class="day-number"><span>1</span> день</h4>
                <table>
                        <tr>
                            <td class="pfc"><p>белки</p></td>
                            <td class="product"><p>Говядина 150г, треска 150г, творог200г</p></td>
                            <td class="calories"><p>850 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Углеводы</p></td>
                            <td class="product"><p>Гречневая крупа 150г, овсянка 60г.</p></td>
                            <td class="calories"><p>250 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Витамины</p></td>
                            <td class="product"><p>Аппельсин, 2 банана, огурцы, руккола.</p></td>
                            <td class="calories"><p>250ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Прочее</p></td>
                            <td class="product"><p>Изюм 30г, грецеий орех 20г</p></td>
                            <td class="calories"><p>100 ккал</p></td>
                        </tr>
                </table>
                <h4 class="day-number"><span>2</span> день</h4>
                <table>
                        <tr>
                            <td class="pfc"><p>белки</p></td>
                            <td class="product"><p>Говядина 150г, треска 150г, творог200г</p></td>
                            <td class="calories"><p>850 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Углеводы</p></td>
                            <td class="product"><p>Гречневая крупа 150г, овсянка 60г.</p></td>
                            <td class="calories"><p>250 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Витамины</p></td>
                            <td class="product"><p>Аппельсин, 2 банана, огурцы, руккола.</p></td>
                            <td class="calories"><p>250ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Прочее</p></td>
                            <td class="product"><p>Изюм 30г, грецеий орех 20г</p></td>
                            <td class="calories"><p>100 ккал</p></td>
                        </tr>
                </table>
                <h4 class="day-number"><span>3</span> день</h4>
                <table>
                        <tr>
                            <td class="pfc"><p>белки</p></td>
                            <td class="product"><p>Говядина 150г, треска 150г, творог200г</p></td>
                            <td class="calories"><p>850 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Углеводы</p></td>
                            <td class="product"><p>Гречневая крупа 150г, овсянка 60г.</p></td>
                            <td class="calories"><p>250 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Витамины</p></td>
                            <td class="product"><p>Аппельсин, 2 банана, огурцы, руккола.</p></td>
                            <td class="calories"><p>250ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Прочее</p></td>
                            <td class="product"><p>Изюм 30г, грецеий орех 20г</p></td>
                            <td class="calories"><p>100 ккал</p></td>
                        </tr>
                </table>
                <h4 class="day-number"><span>4</span> день</h4>
                <table>
                        <tr>
                            <td class="pfc"><p>белки</p></td>
                            <td class="product"><p>Говядина 150г, треска 150г, творог200г</p></td>
                            <td class="calories"><p>850 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Углеводы</p></td>
                            <td class="product"><p>Гречневая крупа 150г, овсянка 60г.</p></td>
                            <td class="calories"><p>250 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Витамины</p></td>
                            <td class="product"><p>Аппельсин, 2 банана, огурцы, руккола.</p></td>
                            <td class="calories"><p>250ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Прочее</p></td>
                            <td class="product"><p>Изюм 30г, грецеий орех 20г</p></td>
                            <td class="calories"><p>100 ккал</p></td>
                        </tr>
                </table>
                <h4 class="day-number"><span>5</span> день</h4>
                <table>
                        <tr>
                            <td class="pfc"><p>белки</p></td>
                            <td class="product"><p>Говядина 150г, треска 150г, творог200г</p></td>
                            <td class="calories"><p>850 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Углеводы</p></td>
                            <td class="product"><p>Гречневая крупа 150г, овсянка 60г.</p></td>
                            <td class="calories"><p>250 ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Витамины</p></td>
                            <td class="product"><p>Аппельсин, 2 банана, огурцы, руккола.</p></td>
                            <td class="calories"><p>250ккал</p></td>
                        </tr>

                         <tr>
                            <td class="pfc"><p>Прочее</p></td>
                            <td class="product"><p>Изюм 30г, грецеий орех 20г</p></td>
                            <td class="calories"><p>100 ккал</p></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>

</div>
</div>

{% endblock main_content %}
